.review{
    margin: 1em 0 3em;
    color: rgba(0,0,0,0.7);
    .review--name{
        font-size: 1.2em;
        font-weight: bold;
    }
    .review--description{
        justify-content: flex-end;
        text-align: justify;
        padding: 1em 0 0 4em;
        line-height: 1.5em;
    }
    .review--description p{
        position: relative;
        display: inline;
        &::before{
            content: '❝';
            position: absolute;
            left: -1em;
            top: -6px;
            font-size: 2em;
            color: rgba(0,0,0,0.6);
        }
        &::after{
            content: '❞';
            position: absolute;
            right: -1em;
            top: -6px;
            font-size: 2em;
            color: rgba(0,0,0,0.6);
        }
    }
}