@import url('//fonts.googleapis.com/css2?family=Fredoka+One&family=Grandstander:wght@600&family=Lobster+Two&family=Staatliches&display=swap');

.font-1{
    font-family: 'Fredoka One', cursive;
}
.font-2{
    font-family: 'Grandstander', cursive;
}
.font-3{
    font-family: 'Lobster Two', cursive;
}
.font-4{
    font-family: 'Staatliches', cursive;
}
@font-face {
    font-family: 'HeaderMain';
    src: font-url('fonts/candypop.otf') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}  