.header{
    position: sticky;
    display: flex;
    justify-content: space-between;
    top: 0;
    left: 0;
    right: 0;
    z-index: 88;
    background: linear-gradient( 30deg, aquamarine, lightpink );
    opacity: 0.85;
    padding: 1em 2em;
    color: grey;
}
.header--menu a{
    text-decoration: none;
    color: inherit;
}
.header--menu{
    display: flex;
    justify-content: space-around;
}
.header--menu-item{
    line-height: 35px;
    font-size: 24px;
    margin: 0 36px;
}
.header--menu *:hover {
    color: darkolivegreen;
    cursor: pointer;
}