.header{
    background-image: linear-gradient( 30deg, lightpink, lightgoldenrodyellow );
    padding: 1em 2em;
    margin-bottom: 5%;
    text-align: center;
    h1{
        font-size: 4em;
    }
    h3{
        font-size: 2em;
        font-weight: 100;
    }
}
strong{
    color: lightgoldenrodyellow
}