.navbar{
    position: sticky;
    display: flex;
    justify-content: space-between;
    top: 0;
    left: 0;
    right: 0;
    z-index: 88;
    background: linear-gradient( 30deg, aquamarine, lightpink );
    opacity: 0.85;
    padding: 1em 2em;
    color: grey;
    transition: 0.5s;
}
.navbar a{
    text-decoration: none;
    color: inherit;
}
.navbar--menu{
    display: flex;
    justify-content: space-around;
}
.navbar--menu-item{
    margin-left: 36px;
    line-height: 28px;
    font-size: 18px;
}
.navbar--menu *:hover {
    color: darkolivegreen;
    cursor: pointer;
}