.container{
    margin: 0 auto;
    width: 60vw;
    height: 100%;
}
.flex-row{
    display: flex;
}
.flex-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.float-right{
    float: right;
}
.show--body{
    background: whitesmoke;
    min-height: 100vh;
}
.show--hero{
    background: white;
    height: 25vh;
    margin-bottom: 48px;
    // border-top: 1em solid hotpink;
    // border-bottom: 1em solid hotpink;
}
.show--img-container{
    width: 60%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    // border-top: 1em solid hotpink;
    // border-bottom: 1em solid hotpink;
}
.show--info{
    width: 40%;
    padding: 0 1em;
    *{
        margin: 8px 0;
    }
}
.show--name{
    font-size: 1.4em;
    text-align: center;
}
.show--stars{
    position: relative;
    font-size: 3em;
    color: orange;
}
.show--score{
    margin-right: 1em;
}
.show--about{
    position: relative;
    width: 40%;
    padding: 1em;
}
.show--about::before{
    content: '';
    position: absolute;
    right: 0;
    width: 1px;
    top: 1em;
    bottom: 1em;
    background: lightgrey;
}
.show--about-header{
    font-size: 1.4em;
}
.show--about-content{
    margin: 1em 1em 3em;
}
.show--reviews{
    width: 60%;
    padding: 0 1em;
}

// FORM

.show--reviews form{
    position: relative;
    margin-bottom: 4em;
    *{
        margin: 1em 0;
    }
}
.show--reviews form::before{
    content: '';
    position: absolute;
    bottom: -2em;
    height: 1px;
    left: -2em;
    right: 9em;
    background: lightgrey;
}
.form--header{
    text-align: center;
    font-size: 1.4em;
}
.form--field{
    input, textarea{
        width: 100%;
        padding: 6px 16px;
        color: rgba(0,0,0,0.7)
    }
}
.form--rating-box{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    input{
        display: none;
        width: auto;
    }
    label {
        cursor: pointer;
        width: 40px;
        height: 40px;
        margin-top: auto;
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23e3e3e3' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 76%;
        transition: .3s;
      }
      input:checked ~ label, input:checked ~ label ~ label {
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23fcd93a' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
      }
      input:not(:checked) ~ label:hover,
      input:not(:checked) ~ label:hover ~ label {
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23d8b11e' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
      }
}

// REVIEW

.review{
    margin: 1em 0 3em;
    color: rgba(0,0,0,0.7);
    .review--name{
        font-size: 1.2em;
        font-weight: bold;
    }
    .review--description{
        justify-content: flex-end;
        text-align: justify;
        padding: 1em 0 0 4em;
        line-height: 1.5em;
    }
    .review--description p{
        position: relative;
        &::before{
            content: '❝';
            position: absolute;
            left: -1em;
            top: -6px;
            font-size: 2em;
            color: rgba(0,0,0,0.6);
        }
        &::after{
            content: '❞';
            position: absolute;
            right: -1em;
            top: -6px;
            font-size: 2em;
            color: rgba(0,0,0,0.6);
        }
    }
}

// REVIEW -->  RATING

.rating--stars{
    align-items: center;
    margin: 0 1em;
    position: relative;
    display: inline-block;
}
.rating--front{
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    overflow: hidden;
  }
.rating--front::before{
    position: absolute;
    content: '★★★★★';
  }

// BUTTONS

.btn{
    text-decoration: none;
    border: 1px solid;
    border-radius: 3px;
    padding: 2px 5px;
    background: none;
    cursor: pointer;
    &:hover{
        box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.2);
    }
}
.btn-delete{
    border-color: orangered;
    color: orangered;
    display: none;
}
.review:hover .btn-delete{
    display: block;
}
.btn-back{
    border-color: hotpink;
    color: hotpink;
}
.btn-submit{
    display: block;
    margin: 0 auto;
    padding: 10px 16px;
    font-size: 1em;
    color: whitesmoke;
    background: rgba(0,0,0,0.8);
}